<a href="#mymodal" id="modalLink" data-toggle="modal" class="btn btn-mini" style="display:none"></a>
<div class="modal fade" id="mymodal">
	<div class="modal-dialog"> 
		<div class="modal-content modalBox">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">x</button>
				<h4><%=ph.hasComplaintsHistory%></h4>
				<hr class="blue"></hr>
				<hr class="gray"></hr> 
			</div>
			<div class="modal-body">
				<table class="table">
					<tr>
						<td style="text-align:right;" class="col-sm-3">
							<label><%=ph.consumptionDate%>:</label>
						</td>
						<td>
							<div class="col-sm-14" style="text-align:left;">
								<%if (errCode === 0){%>
								<label class="col-sm-14 control-label"><%= JSON.parse(value.body).consumptionDate%>
								</label>
								<%}%>
							</div>
						</td>
					</tr>
					<tr>
						<td style="text-align:right;" class="col-sm-3">
							<label><%=ph.consumptionDetail%>:</label>
						</td>
						<td>
							<div class="col-sm-14" style="text-align:left;">
								<%if (errCode === 0){%>
								<label class="col-sm-14 control-label"><%= JSON.parse(value.body).consumptionDetail%>
								</label>
								<%}%>
							</div>
						</td>
					</tr>
				</table>
				<table class="table" id="tableView"></table>
				<table class="table">
					<tr>
						<td style="text-align:right;">
							<input type="text" class="form-control" id="hasComplaintsInput" placeholder="<%=ph.inputComplaintsDetail%>">
						</td>
						<td>
							<button type="button" class="btn btn-insert glyphicon glyphicon-plus" data-dismiss="modal" onclick="<%=ctrl%>.addComplaintsDetail()"></button>
						</td>
					</tr>
				</table>
			</div>
		</div> 
	</div> 
</div> 