.modalBox {
	margin: 0 auto;
	width: 400px;
	background: white;
}

#mymodal {
	margin-top: 50px;
}

#hasComplaintsDetail {
	width: 100%;
	height: 120px;
	overflow-x: hidden; 
	overflow-y: auto; 
	white-space: nowrap;
}

.myLabel {
	text-align: left;
}

.table td {
	text-align: center;
	vertical-align: middle;
	border-top: none; 
}

#hasComplaintsInput {
	float: left;
}