#userPhoto {
	width: 50%;
	height: 500px;
	float: left;
}

#userData {
	margin-left: 50%;
	width: 50%;
	height: 500px;
}
.tableBox {
	width: 80%;
	text-align: right;
}

.table td {
	text-align: left;
	vertical-align: middle;
	border-top: none; 
}

.myInput {
	width: 75%;
	float: left;
}
.textAreaSize{
	resize: none;
}

#priceInput {
	width: 90%;
	float: left;
}

.myGroup {
	float: right;
}
