<div class="page-header">
	<h2><%=ph.pageTitle%></h2>
</div>
<div id="userPhoto"></div>
<div id="userData">
	<div class="tableBox">
		<table class="table">
			<tr>
				<td>
					<label><%=ph.name%></label>
				</td>
				<td>
					<input type="text" class="form-control" value="<%= JSON.parse(value.body).name%>" id="nameInput">
				</td>
			</tr>
			<tr>
				<td>
					<label><%=ph.length%></label>
				</td>
				<td>
					<input type="text" class="form-control myInput" value="<%= parseInt(JSON.parse(value.body).length)%>" id="lengthInput">
					<div class="btn-group">
						<a id="pickerBt" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" id="selectpicker"></ul>
					</div>  
				</td>
			</tr>
			<tr>
				<td>
					<label><%=ph.audience%></label>
				</td>
				<td>
					<input type="text" class="form-control" value="<%= JSON.parse(value.body).audience%>" id="audienceInput">
				</td>
			</tr>
			<tr>
				<td>
					<label><%=ph.price%></label>
				</td>
				<td>
					<input type="text" class="form-control myInput"  value="<%= parseInt(JSON.parse(value.body).price)%>"  id="priceInput"><label>元</label>
				</td>
			</tr>
			<tr>
				<td>
					<label><%=ph.descTx%></label>
				</td>
				<td>
					<textarea class="form-control textAreaSize" rows="3" id="descTxInput"><%= JSON.parse(value.body).descTx%></textarea>
				</td>
			</tr>
		</table>
		<button class="btn btn-save" onclick="<%=ctrl%>.saveData()"><%=ph.save%></button>
	</div>
</div>