<div class="page-header" id="pageHeader">
	<h2><%=ph.pageTitle%></h2>
</div>
<ol class="breadcrumb">
	<li>
		<a href="javascript: <%=ctrl%>.goIndex()"><%=ph.categoryTitle%></a>
	</li>
	<li>
		<a href="javascript: <%=ctrl%>.goInfo()"><%=ph.detailTitle%></a>
	</li>
	<li><%=ph.pageTitle%></li>
</ol>
<div id="userPhoto"></div>
<div id="userData">
	<div class="tableBox">
		<table class="table">
			<tr>
				<td>
					<label><%=ph.name%></label>
				</td>
				<td>
					<input type="text" class="form-control" value="<%= JSON.parse(value.body).name%>" id="nameInput">
				</td>
			</tr>
			<tr>
				<td>
					<label><%=ph.length%></label>
				</td>
				<td>
					<input type="text" class="form-control myInput" value="<%= parseInt(JSON.parse(value.body).length)%>" id="lengthInput">
					<div class="btn-group myGroup">
						<a id="pickerBt" class="btn  btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" id="selectpicker"></ul>
					</div>  
				</td>
			</tr>
			<tr>
				<td>
					<label><%=ph.audience%></label>
				</td>
				<td>
					<input type="text" class="form-control" value="<%= JSON.parse(value.body).audience%>" id="audienceInput">
				</td>
			</tr>
			<tr>
				<td>
					<label><%=ph.price%></label>
				</td>
				<td>
					<input type="text" class="form-control"  value="<%= parseInt(JSON.parse(value.body).price)%>"  id="priceInput"><label>元</label>
				</td>
			</tr>
			<tr>
				<td style="vertical-align: text-top;">
					<label><%=ph.descTx%></label>
				</td>
				<td>
					<textarea class="form-control textAreaSize" rows="4" id="descTxInput"><%= JSON.parse(value.body).descTx%></textarea>
				</td>
			</tr>
			<tr>
				<td></td>
				<td style="text-align:right;">
					<button class="btn btn-save" onclick="<%=ctrl%>.saveData()"><%=ph.save%></button>
				</td>
			</tr>
		</table>
	</div>
</div>