.modalBox {
	margin: 0 auto;
	width: 400px;
	background: white;
}

#controllModal {
	margin-top: 50px;
}

.myMenu {
	margin-left: 15px;
}
#DateValue {
	background-image: url(/utils/img/btn_icon.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-position-y: -1px;
	cursor: pointer;
}

