.modalBox {
	margin: 0 auto;
	width: 400px;
	background: white;
}

#beautymodal {
	margin-top: 50px;
}

.myLabel {
	text-align: left;
}

#DateValue {
	background-image: url(/utils/img/btn_icon.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-position-y: -1px;
    cursor: pointer;
}
