#userPhoto {
	width: 50%;
	height: 500px;
	float: left;
}

#userData {
	margin-left: 50%;
	width: 50%;
	height: 500px;
}
.tableBox {
	width: 80%;
	text-align: right;
}

.table td {
	text-align: center;
	vertical-align: middle;
	border-top: none; 
}

#genderView {
	text-align: left;
}

#dateInput {
	background-image: url(/utils/img/btn_icon.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-position-y: -1px;
    cursor: pointer;
}

.textAreaSize{
	resize: none;
}
