<div class="controllBar" id="controllBar"></div>
<div>
	<table border="1" class="table table-hover">
		<thead>
			<tr>
				<th class="col-md-1"><%=ph.clientId%></th>
				<th class="col-md-2"><%=ph.name%></th>
				<th class="col-md-1"><%=ph.gender%></th>
				<th class="col-md-2"><%=ph.dob%></th>
				<th class="col-md-3"><%=ph.addr%></th>
				<th class="col-md-1"><%=ph.phone%></th>
				<th class="col-md-2"><%=ph.function%></th>
			</tr>
		</thead>
		<tbody>
			<% for (var i in value.list)  {
				var item = value.list[i];
				var ngID = item.ngID;
				if(bi.query.key == "-1" || bi.query.key ==  ngID){
					var summary = JSON.parse(item.summary);
					var gender = summary.gender === "1" ? '男' : '女';
				%>
					<tr onclick="<%=ctrl%>.infoData(<%= ngID %>)">
						<td><%= ngID %></td>
						<td><%= summary.name %></td>
						<td><%= gender %></td>
						<td><%= summary.dob %></td>
						<td><%= summary.addr %></td>
						<td><%= summary.phone %></td>
						<td style="text-align:center;">
							<button class="btn btn-edit" onclick="<%=ctrl%>.editData(<%= ngID %>)"><%=ph.edit%></button>
							<button class="btn btn-danger" onclick="<%=ctrl%>.deleteData(<%= ngID %>)"><%=ph.delete%></button>
						</td>
					</tr>
				<% }
			} %>
		</tbody>
	</table>
	<!-- excel列印 -->
	<table class="table table-hover" id="myTable" style="display:none">
		<thead style="display:none">
			<tr class="info">
				<th><%=ph.clientId%></th>
				<th><%=ph.name%></th>
				<th><%=ph.gender%></th>
				<th><%=ph.dob%></th>
				<th><%=ph.addr%></th>
				<th><%=ph.phone%></th>
			</tr>
		</thead>
		<tbody style="display:none">
			<% for (var i in value.list)  {
				var item = value.list[i];
				var summary = JSON.parse(item.summary);
				var ngID = item.ngID;
				var gender = summary.gender === "1" ? '男' : '女';
			%>
				<tr>
					<td><%= ngID %></td>
					<td><%= summary.name %></td>
					<td><%= gender %></td>
					<td><%= summary.dob %></td>
					<td><%= summary.addr %></td>
					<td><%= summary.phone %></td>
				</tr>
			<% } %>
		</tbody>
	</table>
</div>
<div class="listLink" id="listLink"></div>