<div id="historyDialog"></div>
<div class="controllBar" id="controllBar"></div>
<div>
	<table border="1" class="table table-hover">
		<thead>
			<tr>
				<th class="col-md-2"><%=ph.date%></th>
				<th class="col-md-2"><%=ph.salesTotal%></th>
				<th><%=ph.descTx%></th>
				<th class="col-md-1"><%=ph.hasComplaints%></th>
			</tr>
		</thead>
		<tbody >
			<% 
			var get_length = 0;
			var get_index = bi.query.index*10; 
			for (var i = 0; i < value.list.length; i++) {
				var item = value.list[i];
				var title = item.title;
				var ngID = item.ngID;
				if(bi.query.key != "-1" && bi.query.key ==  title){
					get_length ++;
					var get_last = get_index+11;
					if(get_length > get_index && get_length < get_last){
					var summary = JSON.parse(item.summary);
				%>
					<tr>
						<td><%= summary.date %></td>
						<td style="text-align:right;"><%= summary.salesTotal %></td>
						<td style="text-align:left;"><%= summary.descTx %></td>
						<td style="text-align:center;">
							<button class="btn btn-enter" onclick="<%=ctrl%>.reView(<%= ngID %>)"><%=ph.hasComplaints%></button>
						</td>
					</tr>
				<%}
				}
			} 
			%>
			<div id="getLength" style="display:none"><%= get_length %></div>
		</tbody>
	</table>
</div>
<div class="listLink" id="listLink"></div>