.controllBar {
	height: 110px;
}
.listLink {
	height: 75px;
}

.tableView {
	height: 315px;
}

th ,td{
	text-align: center;
}
.scroll {
	overflow-x: hidden; 
	overflow-y: scroll; 
	white-space: nowrap;
}
