<div class="page-header">
	<h2><%=ph.pageTitle%></h2>
</div>
<ol class="breadcrumb">
	<li>
		<a href="javascript: <%=ctrl%>.goIndex()"><%=ph.categoryTitle%></a>
	</li>
	<li><%=ph.pageTitle%></li>
</ol>
<div id="userPhoto"></div>
<div id="userData">
	<div class="tableBox">
		<table class="table">
			<tr>
				<td>
					<label><%=ph.name%></label>
				</td>
				<td>
					<div><%= JSON.parse(value.body).name%></div>
				</td>
			</tr>
			<tr>
				<td>
					<label><%=ph.length%></label>
				</td>
				<td>
					<div><%= JSON.parse(value.body).length%></div>
				</td>
			</tr>
			<tr>
				<td>
					<label><%=ph.audience%></label>
				</td>
				<td>
					<div><%= JSON.parse(value.body).audience%></div>
				</td>
			</tr>
			<tr>
				<td>
					<label><%=ph.price%></label>
				</td>
				<td>
					<div>$<%= JSON.parse(value.body).price%></div>
				</td>
			</tr>
			<tr>
				<td style="vertical-align: text-top;">
					<label><%=ph.descTx%></label>
				</td>
				<td>
					<textarea class="form-control textAreaSize" readonly rows="4" id="descTxInput"><%= JSON.parse(value.body).descTx%></textarea>
				</td>
			</tr>
			<tr>
				<td></td>
				<td style="text-align:right;">
					<button class="btn btn-edit" onclick="<%=ctrl%>.editData()"><%=ph.edit%></button>
				</td>
			</tr>
		</table>
	</div>
</div>